/*! Adapted from the GitHub style by Vasily Polovnyov <vast@whiteants.net> */
.hljs-comment,
.hljs-quote {
  color: var(--color-gray-30);
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: var(--color-jet-50);
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #006c6c;
}

.hljs-string,
.hljs-doctag {
  color: #c40233;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #8a2a32;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #00618a;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #272c71;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #006c47;
}

.hljs-symbol,
.hljs-bullet {
  color: #7d1b4d;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #005a5b;
}

.hljs-meta {
  color: var(--color-gray-30);
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-deletion {
  background: #f9c8c5;
}

.hljs-addition {
  background: #c6ecd1;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--monospace-font-weight-bold);
}
