<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
        <img class="logo" src="{{uiRootPath}}/img/logo.png" alt="Shabad OS">
        {{site.title}}
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://docs.shabados.com/database" target="_blank">Database Docs</a>
        <a class="navbar-item" href="https://github.com/shabados/desktop" target="_blank">GitHub</a>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://shabados.com">Download Shabad OS</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
